[Desktop Entry]
Name=Mountaineer
Version=1.0
Exec=/usr/bin/mountaineer %U
StartupNotify=true
Type=Application
Terminal=false
Icon=mountaineer
Categories=Graphics;Utilities;Application

