[Desktop Entry]
Name=Mountaineer
Exec=/usr/bin/mountaineer
StartupNotify=true
Type=Application
Terminal=false
Icon=mountaineer
Categories=Graphics;
StartupWMClass=mountaineer
